@import '../../../styles/variables';

.Auth {
    display: block;
    .auth-header {
        color: $secondaryColor;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    .decorations {
        background-color: white;
    }
    .auth-image {
        height: 320px;
        width: 320px;
        background-color: white;
    }
    .login-btn {
        background-color: $tertiaryColor;
        width: 450px;
        height: 70px;
        border: 1px solid black;
    }
}