@import '../../../styles/variables';

.Auth {
    display: block;
    .auth-flex {
        background-color: $secondaryColor2;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        .brand-header {
            font-family: $primaryFont;
            color: $primaryColor;
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;
        }
    }
    .auth-header {
        font-family: $secondaryFont;
        color: $primaryColor;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    .auth-image {
        max-width: 100%;
        height: auto;
        text-shadow:
        -3px -3px 0 $quaternaryColor,  
        -6px -6px 0 $tertiaryColor,
        -8px -8px 0 $senaryColor,
         -10px -10px 0 $senaryColor;
         color: $primaryColor;
    }
    .login-btn {
        background-color: $primaryColor;
        font-family: $primaryFont;
        color: $secondaryColor;
        font-size: 25px;
        width: 450px;
        height: 70px;
        border: 1px solid black;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
          box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
    }
}