@import '../../../styles/variables';

.MyNavbar {
    display: block;
    background-color: $secondaryColor;
    border: 1px solid black;
    .logout-btn {
        background-color: $tertiaryColor;
        color: black;
        border: 1px solid black;
    }
}