@import '../../../styles/variables';

.MyNavbar {
    display: block;
    background-color: $primaryColor;
    border: 2px solid black;
    .nav-container {
        .navbar-brand-container {
            .nav-brand {
                font-family: $primaryFont;
                color: $secondaryColor;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
                  font-size: 40px;
            }
        }
    }
    .logout-btn {
        color: $tertiaryColor !important;
    }
}

.nav-btn {
    font-family: 'Boogaloo', cursive;
    font-size: 30px;
    color: $secondaryColor !important;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}