@import '../../../styles/variables';

.MyNavbar {
    display: block;
    background-color: $secondaryColor;
    border: 1px solid black;
    .nav-container {
        .balloon-logo {
            vertical-align: top;
        }
        .exclamation {
            position: relative;
            top: 5px;
            right: 15px;
            width: 50px;
            height: auto;
        }
    }
    .logout-btn {
        background-color: $tertiaryColor;
        color: black;
        border: 1px solid black;
    }
}