@import '../../../styles/variables';

.EditBirthday {
    display: block;
    .edit-birthday-form {
        border: 1px solid black;
        background-color: $secondaryColor;
        border-radius: 40px;
        .birthday-edit-btn {
            background-color: $tertiaryColor;
            border: 1px solid black;
        }
    }
}