$primaryColor: #4AA8DB;
$secondaryColor: #FDEF14;
$tertiaryColor: #FF85CB;
$quaternaryColor: #FF432E;
$senaryColor: #B1EB00;
$rainbowGradient: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);

$primaryFont: 'Boogaloo', cursive;
$secondaryFont: 'Open Sans', sans-serif;

// background-color: #f3ec78;
// background-size: 100%;
// -webkit-background-clip: text;
// -moz-background-clip: text;
// -webkit-text-fill-color: transparent; 
// -moz-text-fill-color: transparent;