$primaryColor: #4AA8DB;
$secondaryColor: #FDEF14;
$secondaryColor2: #fded14;
$tertiaryColor: #FF85CB;
$quaternaryColor: #FF432E;
$senaryColor: #B1EB00;
$rainbowGradient: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);

$primaryFont: 'Boogaloo', cursive;
$secondaryFont: 'Open Sans', sans-serif;