@import '../../../styles/variables';

.SingleBirthday {
    display: block;
    .edit-birthday-btn {
        background-color: $tertiaryColor;
        border: 1px solid black;
    }
    .delete-birthday-btn {
        background-color: $tertiaryColor;
        border: 1px solid black;
    }
}