@import '../../../styles/variables';

.NewBirthday {
    display: block;
    .new-birthday-form {
        .birthday-save-btn {
            background-color: $tertiaryColor;
            border: 1px solid black;
        }
    }
}