@import '../../../styles/variables';

@media (min-width: 450px) {
    .guest-of-honor-name {
        font-size: 3rem;
    }
    .birthday-date {
        font-size: 3rem;
    }
    .declaration {
        font-size: 2.5rem;
    }
    .guest-list {
        font-size: 32px;
    }
}

@media (max-width: 450px) {
    .guest-of-honor-name {
        font-size: 2rem;
    }
    .birthday-date {
        font-size: 2rem;
    }
    .declaration {
        font-size: 1.5rem;
    }
    .guest-list {
        font-size: 24px;
    }
}

@media (max-width: 355px) {
    .guest-list {
        font-size: 18px;
    }
}
@media (max-width: 320px) {
    .guest-list {
        font-size: 14px;
    }
}

.NewBirthday {
    display: block;
    .new-birthday-header {
        color: $quaternaryColor;
        font-family: $primaryFont;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    .new-birthday-form {
        border: 1px solid black;
        padding-bottom: 35px !important;
        background-color: $secondaryColor2;
        border-radius: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        .selection-column {
            background-color: $primaryColor;
            border: 1px solid black;
            border-radius: 10px;
            // min-height: 812px;
            // max-height: 812px;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        }
        .info-column {
            background-color: $primaryColor;
            border: 1px solid black;
            border-radius: 10px;
            min-height: 704px;
            max-height: 704px;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
            .guest-of-honor-name {
                font-family: $primaryFont;
                color: $quaternaryColor;
                margin-bottom: 0;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
            }
            .birthday-date {
                font-family: $primaryFont;
                color: $senaryColor;
                margin-bottom: 0;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
            }
            h2 {
                font-family: $primaryFont;
                color: $secondaryColor;
                margin-bottom: 0;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
            }
            h3 {
                font-family: $primaryFont;
                color: $tertiaryColor;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
            }
            .guest-invited-header {
                color: $secondaryColor;
                font-family: $primaryFont;
            }
            .guest-list {
                font-family: $primaryFont;
                color: $tertiaryColor;
                list-style-type: none;
                text-shadow:
                -1px -1px 0 #000,  
                 1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
                  max-height: 300px;
                  min-height: 300px;
                  overflow-y: auto;
            }
        }
        .birthday-save-btn {
            font-family: $primaryFont;
            font-size: 25px;
            color: $secondaryColor;
            background-color: $primaryColor;
            border: 1px solid black;
            box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;
        }
    }
}