@import '../../../styles/variables';

@media (min-width: 898px) {
    .home-intro {
        font-size: 2em;
    }
}

@media (max-width: 898px) {
    .home-header {
        font-size: 4.5rem;
    }
    .home-intro {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .home-header {
        font-size: 5rem;
    }
}

@media (max-width: 576px) {
  .home-header {
      font-size: 4rem;
  }
}

@media (max-width: 360px) {
    .home-header {
        font-size: 3.5rem;
    }
}

.Home {
    display: block;
    .home-flex {
        background-color: $secondaryColor2;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        .home-header {
            color: $primaryColor;
            font-family: 'Boogaloo', cursive;
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;
        }
        .big-image-container {
            position: relative;
            .cake-image {
                position: relative;
                top: 0;
                left: 0;
                z-index: 1;
                text-shadow:
                -3px -3px 0 $quaternaryColor,  
                -6px -6px 0 $primaryColor,
                -8px -8px 0 $senaryColor,
                 -10px -10px 0 $senaryColor;
                 color: $tertiaryColor;
            }
            .people-image {
                text-shadow:
                -3px -3px 0 $quaternaryColor,  
                -6px -6px 0 $tertiaryColor,
                -8px -8px 0 $senaryColor,
                 -10px -10px 0 $senaryColor;
                 color: $primaryColor;
            }
            .little-image-container {
                .cancelled-image {
                    color: $quaternaryColor;
                    position: absolute;
                    z-index: 2;
                    top: 41px;
                    left: 389px;
                    text-shadow:
                    -1px -1px 0 #000,  
                     1px -1px 0 #000,
                     -1px 1px 0 #000,
                      1px 1px 0 #000;
                }
                // .cake-image {
                //     position: relative;
                //     top: 0;
                //     left: 0;
                //     z-index: 1;
                //     text-shadow:
                //     -3px -3px 0 $quaternaryColor,  
                //     -6px -6px 0 $tertiaryColor,
                //     -8px -8px 0 $senaryColor,
                //      -10px -10px 0 $senaryColor;
                //      color: $primaryColor;
                // }
            }
        }
        .home-intro {
            font-family: $secondaryFont;
            color: $primaryColor;
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;
        }
        .home-dash-btn {
            background-color: $primaryColor;
            font-family: $primaryFont;
            color: $secondaryColor;
            font-size: 25px;
            height: 70px;
            border: 1px solid black;
            text-shadow:
            -1px -1px 0 #000,  
             1px -1px 0 #000,
             -1px 1px 0 #000,
              1px 1px 0 #000;
              box-shadow:
              0 2.8px 2.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
              0 12.5px 10px rgba(0, 0, 0, 0.06),
              0 22.3px 17.9px rgba(0, 0, 0, 0.072),
              0 41.8px 33.4px rgba(0, 0, 0, 0.086),
              0 100px 80px rgba(0, 0, 0, 0.12);
        }
    }
}