@import '../../../styles/variables';

.NewToast {
    display: block;
    .new-toast-form {
        .toast-save-btn {
            background-color: $tertiaryColor;
            border: 1px solid black;
        }
    }
}