@import '../../../styles/variables';

.PhotoUploader {
    display: block;
    background-color: $secondaryColor;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 10px -2px rgba(0,0,0,0.75);
    .photo-check {
        color: $senaryColor;
    }
}