@import '../../../styles/variables';

.BirthdayCard {
    display: block;
    .card-container {
        width: 90%;
        background: none;
        border-top: 1px solid black;
        border-right: none;
        border-bottom: 1px solid black;
        border-left: none;
        .row {
            .third-column {
                .single-view-btn {
                    background-color: $primaryColor;
                    border: 1px solid black;
                }
            }
        }
    }
}